<!-- ========================
FAQ
======================== -->
<section class="nx-section nx-faq">
  <div class="container">
    <!-- HEADING -->
    <div class="nx-section-heading text-center">
      <span class="nx-section-subtitle">
        FAQs
      </span>
      <h2>
      Frequently Asked Questions
      </h2>
      <div class="nx-divider mx-auto">
        <span class="nx-pulse"></span>
      </div>
      <p class="mx-auto mt-4">
        Everything you need to know before
        starting your project with Nexora.
      </p>
    </div>
    <!-- FAQ LIST -->
    <div class="nx-faq-wrapper">
      <!-- ITEM -->
      <div class="nx-faq-item active">
        <button class="nx-faq-question">
        <span>
          How long does a website project take?
        </span>
        <i data-lucide="plus"></i>
        </button>
        <div class="nx-faq-answer">
          <p>
            Project timelines depend on complexity and requirements.
            Most standard business websites typically take between
            2–6 weeks from planning to launch.
          </p>
        </div>
      </div>
      <!-- ITEM -->
      <div class="nx-faq-item">
        <button class="nx-faq-question">
        <span>
          Do you provide SEO optimization?
        </span>
        <i data-lucide="plus"></i>
        </button>
        <div class="nx-faq-answer">
          <p>
            Yes. We build websites with SEO-friendly structure,
            performance optimization, and modern best practices
            to improve visibility and search rankings.
          </p>
        </div>
      </div>
      <!-- ITEM -->
      <div class="nx-faq-item">
        <button class="nx-faq-question">
        <span>
          Will my website be mobile responsive?
        </span>
        <i data-lucide="plus"></i>
        </button>
        <div class="nx-faq-answer">
          <p>
            Absolutely. Every website we build is optimized
            for mobile, tablet, and desktop experiences.
          </p>
        </div>
      </div>
      <!-- ITEM -->
      <div class="nx-faq-item">
        <button class="nx-faq-question">
        <span>
          Do you offer support after launch?
        </span>
        <i data-lucide="plus"></i>
        </button>
        <div class="nx-faq-answer">
          <p>
            Yes. We provide post-launch support, maintenance,
            and ongoing assistance to ensure long-term stability
            and performance.
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>