<!-- Navbar Code Goes Here -->

<div class="nx-navbar">
	<div class="container-fluid px-lg-5">
		<div class="nx-nav-wrapper d-flex">
			<!-- Logo -->
			<div class="nx-logo">
				<a href="index.html">
					<img
					class="nx-theme-logo"
					src="assets/images/logo/logo.webp"
					data-dark="assets/images/logo/logo.webp"
  					data-light="assets/images/logo/Logo_black.webp"
					alt="Nexora Digital Logo"
					loading="eager"
					>
				</a>
			</div>
			<!-- Navigation -->
			<nav class="nx-nav-menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li class="nx-has-submenu">
						<a href="services.html" class="nx-menu-parent">
							Services
							<i data-lucide="chevron-down"></i>
						</a>
						<ul class="nx-submenu">
							<li><a href="services-single.html">Web Development</a></li>
							<li><a href="services-single.html">Web Maintenance</a></li>
							<li><a href="services-single.html">SEO Optimization</a></li>
							<li><a href="services-single.html">SMO Optimization</a></li>
							<li><a href="services-single.html">Google ads & Meta Ads </a></li>
							<li><a href="services-single.html">App Development</a></li>
						</ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>					
				</ul>

				<!-- CTA -->
				<a href="#" class="nx-btn-primary">Start Your Growth</a>
			</nav>

			<!-- Right Side -->
			<div class="nx-nav-right d-flex">
				
				<!-- Theme Toggle -->
				<button class="nx-theme-toggle" id="themeToggle">
					<i data-lucide="moon"></i>
				</button>

				<!-- CTA -->
				<a href="#" class="nx-btn-primary">Start Your Growth</a>

				<!-- Mobile Toggle -->
				<div class="nx-menu-toggle" id="menuToggle">
					<span></span>
					<span></span>
					<span></span>
				</div>

			</div>
		</div>
	</div>
</div>