<!-- Navbar Code Goes Here -->

<div class="nx-navbar">
	<div class="container-fluid px-lg-5">
		<div class="nx-nav-wrapper d-flex">
			<!-- Logo -->
			<div class="nx-logo">
				<a href="index.html">
					<img
					src="assets/images/logo/logo.webp"
					alt="Nexora Digital Logo"
					loading="eager"
					>
				</a>
			</div>
			<!-- Navigation -->
			<nav class="nx-nav-menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					
				</ul>

				<!-- CTA -->
				<a href="#" class="nx-btn-primary">Start Your Growth</a>
			</nav>

			<!-- Right Side -->
			<div class="nx-nav-right d-flex">
				
				<!-- Theme Toggle -->
				<button class="nx-theme-toggle d-flex" id="themeToggle">
					<i data-lucide="moon"></i>
				</button>

				<!-- CTA -->
				<a href="#" class="nx-btn-primary">Start Your Growth</a>

				<!-- Mobile Toggle -->
				<div class="nx-menu-toggle" id="menuToggle">
					<span></span>
					<span></span>
					<span></span>
				</div>

			</div>
		</div>
	</div>
</div>