/* All Responsive CSS Goes Here */

/* FULLSCREEN MOBILE MENU */
@media (max-width: 992px) {

  /*============
      NAVBAR 
  ==============*/
  .nx-navbar {
    overflow: visible;
  }
  .nx-nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--bg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-slow);
    z-index: 998;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .nx-nav-menu.active {
    right: 0;
  }

  .nx-nav-menu ul {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .nx-nav-menu a {
    font-size: 22px;
  }

  /* Show Hamburger */
  .nx-menu-toggle {
    display: flex;
    z-index: 9999;
  }

  /* Smooth animation */
  .nx-menu-toggle span {
    transition: all var(--transition);
  }

  /* Top line */
  .nx-menu-toggle.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  /* Middle line */
  .nx-menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  /* Bottom line */
  .nx-menu-toggle.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* CTA mobile version */
  .nx-nav-menu .nx-btn-primary {
    display: block;
    margin-top: 30px;
    padding: 14px 24px;
    font-size: 16px;
  }

  /* Hide desktop CTA */
  .nx-nav-right .nx-btn-primary {
    display: none;
  }

  /*======================
      HERO SECTION
  ========================*/
   .nx-hero {
    text-align: center;
  }

  .nx-hero-cta {
    justify-content: center;
    flex-wrap: wrap;
  }

  .nx-hero-visual {
    margin-top: 40px;
    height: 420px;
  }

  /*======================
      ABOUT SECTION
  ========================*/
  .nx-about {
    text-align: center;
  }

  .nx-about-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nx-about-stats {
    margin-top: 40px;
  }

  /*======================
      PORTFOLIO SECTION
  ========================*/
  .nx-portfolio-overlay {
    opacity: 1;
  }

  /*======================
      CTA SECTION
  ========================*/
  .nx-cta-box {
    padding: 30px;
  }

  .nx-cta-glow {
    width: 240px;
    height: 240px;
  }
  
}

@media (max-width: 768px) {
  /*======================
      HERO SECTION
  ========================*/
  .nx-hero-visual {
    height: 300px;
  }

  /*======================
      CTA SECTION
  ========================*/
  .nx-cta-box {
    padding: 25px;
  }

  .nx-cta-glow {
    width: 200px;
    height: 200px;
    opacity: 0.25;
  }

  /*======================
      SCROLL TO TOP
  ========================*/
  .nx-scroll-top {
    width: 56px;
    height: 56px;

    right: 15px;
    bottom: 18px;
  }

  .nx-scroll-icon {
    width: 42px;
    height: 42px;
  }

}