/* All Utilities CSS Goes Here */

.text-center { text-align: center; }
.mt-2 { margin-top: 16px; }
.mb-3 { margin-bottom: 24px; }
.d-flex { display: flex; }

/* SECTION BACKGROUNDS */
.nx-section-dark {
  background: var(--bg);
}

.nx-section-light {
  background: var(--bg-light);
}

.nx-section-soft {
  background: var(--bg-soft);
}

/* SECTION SPACING */
.nx-section {
  padding: var(--section-padding-md) 0;
}

.nx-section-sm {
  padding: var(--section-padding-sm) 0;
}

.nx-section-lg {
  padding: var(--section-padding-lg) 0;
}

/* SECTION HEADER */
.nx-section-header {
	max-width: 600px;
	margin: 0 auto 60px;
}

.nx-section-header h2 {
	margin-bottom: 15px;
}

.nx-section-header p {
	max-width: 600px;
 	margin: 0 auto 40px;
}

/* WHATSAAP FLOATING BUTTON */
.nx-whatsapp-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 55px;
  height: 55px;
  background: #25D366;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 999;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.nx-whatsapp-btn:hover {
  transform: scale(1.1);
}

@keyframes whatsappPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.nx-whatsapp-btn {
  animation: whatsappPulse 2s infinite;
}

/* SCROLL TO TOP FLOATING BUTTON */
.nx-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  background: transparent;
  border: none;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 999;

  opacity: 0;
  visibility: hidden;

  transition: var(--transition);
}

.nx-scroll-top.active {
  opacity: 1;
  visibility: visible;
}

/* SVG */
.nx-progress-ring {
  position: absolute;
  transform: rotate(-90deg);
}

/* Background circle */
.nx-progress-bg {
  fill: none;
  stroke: var(--bg-glass);
  stroke-width: 3;
}

/* Progress */
.nx-progress-circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 3;
  stroke-linecap: round;

  stroke-dasharray: 163.36;
  stroke-dashoffset: 163.36;

  transition: stroke-dashoffset 0.2s linear;
  filter: drop-shadow(0 0 6px var(--border-blue));
}

/* Icon */
.nx-scroll-icon {
  width: 45px;
  height: 45px;

  background: var(--bg-soft);
  border: 1px solid var(--border);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);

  transition: var(--transition);
}

.nx-scroll-icon svg {
  color: var(--text);
}

.nx-scroll-top:hover .nx-scroll-icon {
  background: var(--primary);
  transform: translateY(0px);
  box-shadow: 0 10px 25px rgba(47, 128, 237, 0.4);
}

.nx-scroll-top:hover .nx-scroll-icon svg {
  color: var(--text-dark);
}