/* All CSS Variables Goes Here */

:root {

  /* COLORS */
  --primary: #2F80ED;
  --secondary: #56CCF2;

  --bg-dark: #0B1C2C;
  --bg-light: #F8FAFC;

  --bg-soft: rgba(255,255,255,0.05);
  --bg-glass: rgba(255,255,255,0.02);

  --text-dark: #0B1C2C;
  --text-light: #F8FAFC;
  --text-muted: rgba(255,255,255,0.7);

  --border: rgba(255,255,255,0.08);
  --border-blue: rgba(86,204,242,0.3);

  /* GRADIENTS */
  --gradient-primary: linear-gradient(135deg, #2F80ED, #56CCF2);

  /* SHADOWS */
  --shadow-soft: 0 10px 40px rgba(0,0,0,0.4);

  /* BASE COLOR CONTROL */
  --bg: var(--bg-dark);
  --text: var(--text-light);

  /* --------------------------------------------------------------------------------------------------------- */

  /* TYPOGRAPHY */
  --font-heading: 'Sora', sans-serif;
  --font-body: 'Inter', sans-serif;

   /* HEADING FONT SIZES */
  --fs-h1: clamp(32px, 5vw, 48px);
  --fs-h2: clamp(26px, 4vw, 36px);
  --fs-h3: clamp(20px, 2.8vw, 24px);
  --fs-h4: clamp(18px, 2.5vw, 20px);

  --fs-body: 16px;
  --fs-small: 14px;

  /* --------------------------------------------------------------------------------------------------------- */

  /* CONTAINER SPACE */
  --container-width: 1200px;
  --container-padding: 16px;
  --container-padding-lg: 40px;

  /* SPACING */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;

  /* SECTION PADDING */
  --section-padding-sm: clamp(50px, 8vw, 70px);
  --section-padding-md: clamp(70px, 10vw, 100px);
  --section-padding-lg: clamp(90px, 12vw, 120px);


  /* RADIUS */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xlg: 24px;

/* --------------------------------------------------------------------------------------------------------- */

  /* TRANSITION */
  --transition: 0.3s ease;
  --transition-slow: 0.4s ease;

}